@import url('https://fonts.googleapis.com/css?family=Spectral&Karla&display=swap');

html {
  font-size: 100%;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus {
  outline-color: var(--brand-accent-2);
}

body {
  font-family: var(--brand-body);
  background: url('/images/canvas.png');
}
h1 {
  font-family: var(--brand-body);
}
a {
  border-bottom: 1px solid var(--brand-base);
  color: var(--brand-base);
  cursor: pointer;
  font-family: var(--brand-body);
  text-decoration: none;
  &:hover {
    border-bottom-color: var(--brand-accent-2);
  }
}
.container {
  display: grid;
  grid-row-gap: 1rem;
  padding: 3rem;
}
.logo {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/images/logo_sophie.png');
  display: block;
  height: 5rem;
}

.tech {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  .icon {
    svg {
      font-size: var(--icon-large);
    }
  }
  .indesign {
    svg {
      font-size: var(--icon-large-alt);
    }
  }
}
.menu {
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  a {
    display: inline-block;
    min-height: 3rem;
    padding: 0.25rem 1rem;
    &:hover {
      border-radius: 0.25rem;
      background-color: var(--brand-accent-2);
    }
  }
}
.search {
  background: var(--brand-light);
  border-radius: 0.5;
  color: var(--brand-accent-2);
  font-family: var(--brand-body);
  font-size: 1.8rem;
  padding: 0.5rem 1rem;
  width: 100%;
}
