:root {
  --phthalo-green: #23362bff;
  --jungle-green: #1bb28cff;
  --terra-cotta: #e86a58ff;
  --orange-yellow-crayola: #fed45bff;
  --opal: #9bc7c5ff;
  --isabelline: rgba(239, 238, 234, 0.5);
  --brand-body: 'Jura', sans-serif;
  --brand-heading: 'Tinos', sans-serif;
  --brand-base: var(--phthalo-green);
  --brand-dark: rgb(36, 38, 42);
  --brand-light: var(--isabelline);
  --brand-accent-1: var(--terra-cotta);
  --brand-accent-2: var(--jungle-green);
  --brand-accent-3: var(--orange-yellow-crayola);
  --brand-accent-4: var(--opal);
  --logo-all: #b3b5b9;
  --logo-drupal: #25aae1;
  --logo-javascript: #f0db4f;
  --logo-react: #00d8ff;
  --logo-sass: #c69;
  --logo-php: #4f5b93;
  --logo-node: #6cc24a;
  --logo-python: #4b8bbe;
  --logo-photoshop: #8bc3fc;
  --logo-illustrator: #fbb034;
  --logo-indesign: #e749a0;
  --icon-med: 2rem;
  --icon-med-alt: calc(var(--icon-med) / 1.25);
  --icon-large: 4rem;
  --icon-large-alt: calc(var(--icon-large) / 1.25);
}
